%h1.text-center
  Editing Rental:
  = @rental.bicycle.name

= render 'form'
.pull-right
  = link_to 'Show', bicycle_path(@rental.bicycle), class: 'btn btn-info'
  = link_to 'Back', bicycle_path(@rental.bicycle), class: 'btn btn-default'